*{
	padding: 0;
	margin: 0;
}
		#bg{
			width: 1208px;
			height: 615px;
			background-color:#0f3854;
		}
		#BT{
			font-size: 20px;
			text-align: center;
			line-height: 180px;
			font-style: italic;
			color: #0aafe6;
			background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
		}
		#time{
			font-size: 60px;
			text-align: center;
			background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
			color: #0aafe6;
			line-height: 235px;
			position: relative;
		}
		#tian{
			font-size: 25px;
			text-align: center;
			color: #0aafe6;
			line-height: 200px;
			background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
		}
