/* 整体框架 */
#bg{
    background-image: url(../imgs/1.png);
    background-repeat: repeat;
}

.list>li{

    display: inline-block;
    margin:100px 110px ;
}
a{  
    color: red;
    text-decoration-line: none;
}
#box{
    width:100%;
    height:370px;
}
/* show的放大镜效果 */
#show{
    display:block;
    float:left;
    margin-left:195px;
    margin-top: 10px;
    width:45%;
    height:100%;
    position:relative;
}
#img1{
    width:200px;
    height:200px;
    position:absolute;
    left:0;
    border:1px solid burlywood;
}
#img2{
    z-index: 1;
}
#slider{
    width:50px;
    height:50px;
    position:absolute;
    left:0;
    top:0;
    background:yellow;opacity:0.4;
    cursor: move;
    display:none; 
    filter:alpha(opacity=40);
}
/* 藏品信息区域 */
#information{
    position:absolute;
    left:30%;
    top:31%;
    width:40%;
    height:65.5%;
    /* border:1px solid red; */
    line-height:"20px";
}
#information h1{
    color:orange;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}
#information p{
    color:pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#price{
    margin-top:2%;
    width:90%;
    padding: 10px 0;
    background-color: #eee;
    position:relative;
    left:-20px;
}
#price>span{
    color:orchid;
    font-size: 25px;
    margin-right: 20%;
}
#price a{
    color:orangered;
}
#price a span{
    font-size: 20px;
}
#cart{
    margin:10px 10px 10px 10px;
    width:100%;
    height:20%;
}
#num{
    height:40px;
    width:12%;
    text-align:center;
    padding-top:15px;
    background-color: white;
    position:relative;
    left:-45%;
}
#minus,#plus{
    position:relative;
    left:-18px;
    height:14px;
    width:5%;
}
#addtoCart{
    width:30%;
    height:15%;
    background-color:red;
    border: 1px solid transparent;  
    outline: none;    
    cursor: pointer;
    position: absolute;
    top:28%;
}
#img2{
    position:absolute;
    right:0;
    top:0;
    display:none;
    width:60.5%;
    height:70.5%;
    overflow:hidden;
}
#Bimg{
    position:absolute;
    left:0;
    top:0;
}
/*buy*/
#buy{
    margin: 10px;
    float: right;
    width: 40%;
    height: 100%;
    text-align: center;
}
#buy p{
    color:orangered;
}
#btnBao,#btnWeChat,#hide{
    border:1px solid transparent;
    outline:none;
    background-color: salmon;
}
/* 滚动图片效果*/
#div1{
    position:absolute;
    top:70%;
    left:18%;
    width: 960px;
    height: 160px;
    margin: 50px auto; 
    overflow: hidden;
    border: 1px solid gray;
}
#div1 ul{
    position: absolute;
    left: 0;  /*为了后续的滚动 */
}
#div1 li{
    padding: 1px;
    list-style: none;
    width: 180px;
    height: 150px;
    float: left;
}
#div1 a{
    display: block;
    margin-top: 4px;
    width:95%;
    height:99%;
    border: 1px solid rgba(0, 0, 255, 0.603);  
}
 #div1 img{
    width: 100%;
    height: 100%;
}
