      *{
          padding: 0px;
          margin: 0px;
      }
      /*
      
      */
      ul,li{
          list-style: none;
      }
      .bg{
          background-image: url(../imgs/img4.png);
          background-repeat: repeat;
      }
      #smallBox{
          width: 1302px;
          background-color: #ccf;
          float: left;
          padding-top: 21px;
          padding-left: 216px;
          height: 42px;
      }
      .list>li{
          display: inline-block;
          margin-right: 186px;
          background-color: #fff;
       }
      .list>li:hover{
          font-size: 18px;
          color: #000;
          background-color: red;
      }
      a{
          text-decoration-line: none;
          color: blue;
      }
      #main{
          float:left;
          padding: 50px; 
          width:600px;
      }
      #smallpic{
          margin-left: 24px;
          height:108px; 
      }
      #img{
          width: 70px;
          height: 60px;
          float:left; 
          margin-right:10px; 
      }
      #smallpic img:hover{
          cursor:pointer;
      }
      .pb{
          border:1px solid red;
      } 
      #bigpic{
          width: 600px;
          height: 500px;
      }
     .list_con{ 
          width: 800px;
          float: left;  
          height:24px;
          bottom: 10px;
          margin:10px auto 0;
          position:relative;
          overflow:hidden;
     }

      .list_con ul{
          white-space: nowrap;
          list-style:none;
          width:2000px;
          height:200px;
          position:absolute;
          left:0;
          top:0;
      }
      .list_con li{
          white-space: nowrap;
          list-style: none;
          width:1000px;
          height:180px;
          float:right;
          margin:3px;
          color: blue;
          font-size: 18px;
          overflow: hidden;
      }
      .bigBox{
          white-space: nowrap;
          height: 32px;
          background-color: #ccc;
      }
      #img1{
          width: 102px;
          margin-top: 3px;
          margin-right: 14px;
          float: left;
          margin-left: 272px;
      }

      #wrap {
          float: right;
          padding-right: 192px;
          width: 485px;
          margin: 150px auto;

      }

      #mark {
          line-height: 1.5em;
      }

      #mark h1 {
          height: 29px;
          background: url(../images/bg.jpg);
          font-family: "黑体";
          font-size: 12px;
          color: blue;
          line-height: 29px;
          letter-spacing: 2px;
      }

      #pic {
          margin: 10px 0px;
      }
      #span1{
          color: red;
          height: 24px;
          line-height: 24px;
          font-size: 14px;
      }

      #txt {
          color:blue; 
          width: 100%;
          height: 170px;
          margin: 0px auto;
      }

      .btn {
          float: right;
          color: blue;
          border:2px solid blue;
          width: 75px;
          height: 22px;
          background: no-repeat right center;
          margin-top: 5px;
          margin-right: 28px;
      }
      #btn{
          padding-left: 8px;
      }
