#top{
    width:1200px;
    border:1px solid green;
    height:20px;
}
#top a{
    display: block;
    float:right;
    margin-right:100px;
}
#box{
    width:1200px;
    height:500px;
    border:1px solid blue;
}
#show{
    display:block;
    float:left;
    width:49.5%;
    height:100%;
    border:1px solid blue;
}
#review{
    display:block;
    float:right;
    width:49.5%;
    height:100%;
    border:1px solid blue;
}
#tail{
    border:1px solid red;
    width: 1200px;
    height:50px;
}